<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>charsetFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>subdomainFilter</filter-name>
    <filter-class>jp.co.tamushun.inquiry.servlet.filter.SubdomainFilter</filter-class>
    <init-param>
      <param-name>subdomains</param-name>
      <param-value>api</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>charsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>subdomainFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protect unused method</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>CONNECT</http-method>
      <http-method>PATCH</http-method>
      <http-method>PROPFIND</http-method>
      <http-method>PROPPATCH</http-method>
      <http-method>MKCOL</http-method>
      <http-method>COPY</http-method>
      <http-method>MOVE</http-method>
      <http-method>LOCK</http-method>
      <http-method>UNLOCK</http-method>
    </web-resource-collection>
    <auth-constraint />
  </security-constraint>
  <error-page>
    <error-code>400</error-code>
    <location>/400</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/401</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/403</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/405</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/406</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/415</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/501</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/502</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/503</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>409</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>411</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>506</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>507</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>508</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>509</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>510</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>511</error-code>
    <location>/error</location>
  </error-page>

</web-app>

